* {
    margin: 0;
    padding: 0;
}
body {
    border:1px solid black;
    display: flex;
    flex-direction: row-reverse;
    height: 500px;
    justify-content: space-around;
    align-items: center;


}


















